@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <div id="main-content">Bem-vindo ao Painel Administrativo</div>
</div>
